{% extends 'main.html' %} 
{% load static %}
{% block content %}

<!-- <div>
  <div>
    <div>
      <div class="box-element">
        <div class="cart-row">
          <h1>
            Thanks for Shopping {{cust.name}}<br />Your purchase has been
            sucessfully completed.
          </h1>
          <h3>Rs {{cart_total|floatformat:2}} Amount debited</h3>
          <div style="flex: 2"><strong>Name</strong></div>
          <div style="flex: 1"><strong>Email</strong></div>
          <div style="flex: 1"><strong>Wallet Balance</strong></div>
        </div>

        <div class="cart-row">
          <div style="flex: 2"><p>{{cust.name}}</p></div>
          <div style="flex: 1"><p>{{cust.email}}</p></div>
          <div style="flex: 1">
            <p class="quantity">{{cust.amount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="base-bar">
  <div class="row">
    <div class="col-md-12">
      <div class="dp-box">
        <h2>Thanks for Shopping {{cust.name}} Your Purchase Has been Successfull</h2>
      </div>	
    </div>
    <div class="col-md-12">
      <div class="dp-box">
        <h3>Rs {{cart_total|floatformat:2}} Amount Debited </h3>
      </div>	
    </div>
    
    <div class="col-md-4">
      <div class="dp-box">
        <h3>Name</h3>
        <p>{{cust.name}}</p>
      </div>	
    </div>
    <div class="col-md-4">
      <div class="dp-box">
        <h3>E-mail id</h3>
        <p>{{cust.email}}</p>
      </div>	
    </div>
    <div class="col-md-4">
      <div class="dp-box">
        <h3>wallet balance</h3>
        <p class="quantity">₹{{cust.amount}}</p>
      </div>	
    </div>

    <div class="col-md-12">
      <div class="dp-box">
        <center><a href="{% url 'reciept'%}"><button type="submit" class="btn btn-primary col-md-6">Reciept</button></a></center>
      </div>	
    </div>

  </div>			
  </div>
</div>
{% endblock content %}
